name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
        name:
          # Friendly description to be shown in the UI instead of 'name'
          description: 'jira version'
          # Default value if no value is explicitly provided
          default: '10.1.1'
          # Input has to be provided for the workflow to run
          required: true
          # The data type of the input
          type: string
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/jira-software:${{inputs.name}}
    - name: login docker hub
      uses: docker/login-action@v3.2.0
      with:        
        Username: ${{secrets.DOCKER_HUB_USER }}
        password: ${{secrets.DOCKER_HUB_PWD }}
        logout: false
    - name: push docker hub
      run: docker push ${{ secrets.DOCKER_USERNAME }}/jira-software:${{inputs.name}}
    - name: login tjjs hub
      uses: docker/login-action@v3.2.0
      with:        
        registry: ${{secrets.TJJS_HARBOR_HOST }}
        Username: ${{secrets.TJJS_HARBOR_USERNAME }}
        password: ${{secrets.TJJS_HARBOR_PWD }}
        logout: false
    - name: tag tjjs docker image 
      run: docker tag ttgzs/jira-software:${{inputs.name}} ${{ secrets.TJJS_HARBOR_HOST }}/library/ttgzs/jira-software:${{inputs.name}}
    - name: Push docker image 
      run: docker push ${{ secrets.TJJS_HARBOR_HOST }}/library/${{inputs.name}}    
    
